*{
 background-color:grey;
}

header{
 font-weight:700;
 color:orange;
 font-style:italic;
}

footer{
 background-color:light-blue;
 font-weight:700;
 color:white;
 font-style:italic;
}

body{
 background-color:light-grey;
 font-family:sans-serif;
}

div{
 display: flex;
 justify-content: center;
 align-items: center;
 gap:20px;
 padding:20px;
}

img{
 width:200;
}
