*{
 background-color:grey
}

header{
 font-weight:700,
 color:orange,
 font-style:italic
}

footer{
 background-color:light-blue,
 font-weight:700,
 color:white,
 font-style:italic
}

body{
 background-color:light-grey,
 font-family:sans-serif
}
